#tjet, #tjet * { box-sizing: border-box }
#tjet {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}
#tjet.banned * {
    cursor: not-allowed;
}
.tjet-form {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0.5rem auto;
    max-width: 35rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
}
.tjet-input {
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    width: 100%;
    border-radius: 2rem 0 0 2rem;
    border-right: 0;
    padding: 0.5rem 1.15rem 0.5rem 0.5rem;
}
.tjet-input::placeholder {
    font-style: normal;
    color: #777;
}
.tjet-submit {
    border: 2px solid lightblue;
    padding: 0.45rem 1.25rem 0.55rem 1rem;
    background: linear-gradient(lightblue, blue);
    color: #fff;
    text-align: center;
    cursor: pointer;
    width: 8rem;
    border-radius: 0 2rem 2rem 0;
}
.tjet-no-name .tjet-submit {
    border-color: lightgreen;
    background: linear-gradient(lightgreen, green);
    min-width: 7rem;
    font-size: .9rem;
}
.tjet-typing-indicator {
    display: none;
    position: absolute;
    top: -1rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    background: rgba(255, 255, 255, .7);
    padding: .1rem .3rem;
    border-radius: 1rem;
}
.tjet-typing-indicator.active {
    display: block;
}
.tjet-count {
    background: #fff;
    padding: .2rem .6rem .3rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    min-width: 2.7rem;
    height: 1.5rem;
    margin-left: .5rem;
}
.tjet-count::before {
    display: inline-block;
    content: '';
    background: #f00;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 0.25rem;
}
.tjet-messages {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0 1rem;
    height: 100%;
}
.tjet-message {
    float: left;
    clear: both;
    max-width: 100%;
    word-wrap: break-word;
    margin-top: 1rem;
}
.tjet-message:last-of-type {
    margin-bottom: 7rem;
}
.tjet-message-content {
    display: inline-block;
    margin: .5rem 0 1rem;
    padding: 0.4rem 1rem 0.5rem;
    background: #fafafa;
    border: 1px solid #aaa;
    border-radius: 0 1.5rem 1.5rem 1.5rem;
    box-shadow: 0.3rem 0.3rem 0.75rem rgba(0, 0, 0, 0.18);
    line-height: 1.5rem;
    font-size: 1.1rem;
}
.tjet-message.tjet-sent {
    float: right;
    text-align: right;
}
.tjet-message.tjet-sent .tjet-message-content {
    background: #f0f0ff;
    border-color: #aac;
    border-radius: 1.5rem 0 1.5rem 1.5rem;
}
.tjet-message-name {
    display: inline-block;
}
.tjet-message-name {
    margin-right: 1rem;
    max-width: 100%;
    word-wrap: break-word;
    background: rgba(255, 255, 255, .7);
    padding: .1rem .3rem;
    border-radius: 1rem;
}
.tjet-sender-id {
    display: none;
    font-family: monospace;
    font-size: 0.7rem;
    color: #000;
    background: #fff;
    border-radius: 0.2rem;
}
.tjet-advanced .tjet-sender-id {
    display: block;
}
.tjet-sent .tjet-message-name {
    margin-right: 0;
}
.tjet-sent .tjet-sender-id {
    left: 0.25rem;
    right: auto;
}
.tjet-name {
    font-weight: bold;
}